@import url(http://fonts.googleapis.com/css?family=Yellowtail|Gorditas|Nothing+You+Could+Do|Dawning+of+a+New+Day);

* {
box-sizing: border-box;
}

html, body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
background: #000;
}

#MAIN {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}
#Liisa {
text-align: center;
padding: 0;
margin: 0;
display: block;
color: #C8E1E3;
position: relative;
top:100px;
vertical-align: top;
background: url('http://i.imgur.com/t59yHqU.png') repeat center;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 80px 80px;
-webkit-animation:Babe 200s linear infinite;
}


@-webkit-keyframes Babe {
  0%   { background-position: 0px 10000px; }
  100% { background-position: 0px 0px; }
}




.FONT1 {
font-family: 'Yellowtail', cursive;
}
.FONT2 {
font-family: 'Gorditas', cursive;
}
.FONT3 {
font-family: 'Nothing You Could Do', cursive;
font-size: 60px;
}
.FONT4 {
font-family: 'Dawning of a New Day', cursive;
font-size: 140px;
font-weight: bold;
}
.COLOR3 {
background: #458B74;
}

.COLOR4 {
background: #458B74;
}


